<html>
<head>
  <script src="jquery-2.0.2.min.js"></script>
  <script src="kinetic-v4.5.4.min.js"></script>
  <title>
    <%= title %>
  </title>
  <body bgcolor="#000000" text="#EEEEEE">
    <%= yield %>
  </body>
</html>
